fastapi
uvicorn[standard]
pymilvus
opensearch-py
boto3
botocore
SQLAlchemy
alembic
psycopg2
python-dotenv
langchain
dashscope
sentence_transformers
requests_aws4auth
python-multipart
pypdf
openpyxl
xlrd
openai
unstructured
"unstructured[pdf]"
